@font-face {
  font-family: Arial;
  src: url("../../assets/fonts/Arial.ttf");
}

@font-face {
  font-family: Georgia;
  src: url("../../assets/fonts/Georgia.ttf");
}

:root {
  --color-light-s: #FAFAFA;
  --color-light-l: #F6F6F6;
  --color-light-xl: #FFFFFF;
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-3xl: #292929;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-light-xl);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}


.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 1.92px;
  color: var(--color-dark-l);
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  transition: color .3s ease-in-out;
}

.header__logo-title:hover {
  color: var(--color-dark-3xl);
}

.header__logo-subtitle {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1.3px;
  color: var(--color-dark-3xl);
  padding-bottom: 30px;
  text-align: center;
}

.navigation__list {
  display: flex;
  gap: 35px;
}

.navigation__link {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-l);
  transition: color .3s ease-in-out;
  position: relative;
}

.navigation__link::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  transition-duration: .3s;
  transition-property: transform;
  transform: scaleX(0);
}

.navigation__link:hover {
  color: var(--color-dark-3xl);
}

.navigation__link-active,
.navigation__link-active:hover {
  color: var(--color-dark-l);
}

.navigation__link-active::before {
  transform: scaleX(1);
}

.main {
  background-color: var(--color-light-l);
}

.our-friends {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.our-friends__title {
  padding: 80px 0px 60px;
  margin: 0 400px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
  color: var(--color-dark-l);
  padding-bottom: 30px;
  text-align: center;
}

.pets__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;
  margin-bottom: 60px;
  margin-top: 30px; 
}

.pets__item {
  background-color: var(--color-light-s);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  transition: all .3s ease-in-out;
}

.pets__item:hover {
  cursor:pointer;
  background-color: var(--color-light-xl);
}

.pets__image {
  padding-bottom: 30px;
}

.pets__name {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 1.2px;
  color: var(--color-dark-l);
  padding-bottom: 30px;
}

.pets__button {
  padding: 15px 45px;
  margin-bottom: 30px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 1.02px;
  color: var(--color-dark-3xl);
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.pets__button:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.pets__item:hover .pets__button {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.pets__pagination {
  padding-bottom: 100px;
  display: flex;
  gap: 20px;
}

.pagination__button {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  background-color: transparent;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  color: var(--color-dark-3xl);
  transition: background-color .3s ease-in-out;
}

.pagination__num {
  background-color: var(--color-primary);
}

.pagination__button[disabled] {
  border: 2px solid var(--color-dark-s);
  color: var(--color-dark-s);
}

.pagination__button:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.pagination__button[disabled]:hover {
  border-color: var(--color-dark-s);
  background-color: transparent;
  cursor: auto;
}

.footer {
  background-image: url('../../assets/images/noise_transparent@2x.png'),
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer__container {
  display: flex;
}

.footer-contacts:nth-child(1) {
  padding-top: 56px;
  margin-right: 138px;
}

.footer-contacts {
  padding-top: 56px;
  width: 302px;
}

.contacts__title {
  padding-bottom: 41px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
  color: var(--color-light-xl);
}

.locations__title {
  padding-bottom: 34px;
}

.contacts__link {
  display: flex;
  align-items:center;
  margin-bottom: 41px;
}

.locations__link {
  margin-bottom: 31px;
}

.contacts__icon {
  margin-right: 20px;
}

.contacts__link-text {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  color: var(--color-primary);
}

.footer__image {
  margin-left: auto;
  padding-top: 40px;
}


