@font-face {
  font-family: Arial;
  src: url("../../assets/fonts/Arial.ttf");
}

@font-face {
  font-family: Georgia;
  src: url("../../assets/fonts/Georgia.ttf");
}

:root {
  --color-dark-3xl: #292929;
  --color-dark-l: #545454;
  --color-dark-s: #CDCDCD;
  --color-light-l: #F6F6F6;
  --color-light-xl: #FFFFFF;
  --color-light-s: #FAFAFA;
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  background: url('../../assets/images/noise_transparent@2x.png'),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.header {
  /* background: url('../../assets/images/noise_transparent@2x.png'),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background-position: center 0; */
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}


.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
}

.header__logo-subtitle {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
  padding-bottom: 60px;
  text-align: center;
}

.navigation__list {
  display: flex;
  gap: 35px;
}

.navigation__link {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
  transition: color .3s ease-in-out;
  position: relative;
}

.navigation__link:hover {
  color: var(--color-light-s);
}

.navigation__link::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  transition-duration: .3s;
  transition-property: transform;
  transform: scaleX(0);
}

.navigation__link:hover::before {
  transform: scaleX(1);
}

.navigation__link-active,
.navigation__link-active:hover {
  color: var(--color-light-s);
}

.navigation__link-active::before {
  transform: scaleX(1);
}

.main {
  /* background: url('../../assets/images/noise_transparent@2x.png'),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background-position: center -178px; */
}

.not-only {
  display: flex;
}

.not-only__left {
  padding-right: 42px;
}

.not-only__title {
  padding: 163px 0px 42px;
  width: 310px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  /* letter-spacing: 2.1px; */
  color: var(--color-light-xl);
}

.not-only__text {
  width: 460px;
  padding-bottom: 42px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
}

.not-only__button {
  padding: 15px 45px;
  margin-bottom: 30px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 1.02px;
  color: var(--color-dark-3xl);
  /* border: 2px solid var(--color-primary); */
  border-radius: 100px;
  background-color: var(--color-primary);
  transition: all .3s ease-in-out;
}

.not-only__button:hover {
  background-color: var(--color-primary-light);
}

.about {
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: var(--color-light-xl);
  padding: 80px 0 100px;
}

.about-image {
  padding-right: 120px;
}

.about-text {
  width: 430px;
}

.about-text__title {
  padding-bottom: 25px;
  width: 370px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.about-text__text:nth-child(2) {
  padding-bottom: 25px;
}

.about-text__text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-xl);
}

.our-friends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0 100px;
  background-color: var(--color-light-l);
}

.our-pets__title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  text-align: center;
}

.pets-list {
  display: flex;
  justify-content: space-between;
}

.pets-list__list {
  display: flex;
  gap: 90px;
  padding: 60px 53px;
}
















.footer {
  /* background-image: url('../../assets/images/noise_transparent@2x.png'),
  linear-gradient(#513D2F, #1A1A1C); */
}

.footer__container {
  display: flex;
}

.footer-contacts:nth-child(1) {
  padding-top: 56px;
  margin-right: 138px;
}

.footer-contacts {
  padding-top: 56px;
  width: 302px;
}

.contacts__title {
  padding-bottom: 41px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
  color: var(--color-light-xl);
}

.locations__title {
  padding-bottom: 34px;
}

.contacts__link {
  display: flex;
  align-items:center;
  margin-bottom: 41px;
}

.locations__link {
  margin-bottom: 31px;
}

.contacts__icon {
  margin-right: 20px;
}

.contacts__link-text {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  color: var(--color-primary);
}

.footer__image {
  margin-left: auto;
  padding-top: 40px;
}