html {
  box-sizing:border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}


img {
  max-width: 100%;
  height: auto;
}


h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Roboto Serif";
  background-color: $bgColor;
  color: $textColor;
  // color: #ff0404;
  overflow-x: hidden;
  max-width: 100%;
}


.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header__basket {
  width: 32px;
  height: 100%;
}

.main-container {
  display: flex;
  gap: 20px;
}

.filter-title {
  font-family: 'Roboto Serif';
  font-style: italic;
  font-size: 18px;
  padding: 5px;
}

.search-form__search-field {
  position: relative;
  margin-right: 10px;
  max-width: 200px;
  padding: 5px 15px;
  border-radius: 25px;
  outline: none;
  border: 1px solid var(--text-color);
  transition: all .3s ease-in-out;
}

.search-form__search-field:hover {
  box-shadow: 0 0 5px 5px var(--color-hover);
}

.search-form__search-field:focus {
  box-shadow: 0 0 5px 5px var(--color-hover);
  border: 1px solid var(--color-hover)e;
}


.search-form__search-btn {
  position: absolute;

  width: 25px;
  height: 25px;
  fill: #000;
  stroke: none;
  transition: .3s ease-in-out;
}

.search-form__search-btn:hover {
  fill: red;
  transform: scale(1.1);
  cursor: pointer;
}

.range-filters,
.filters-value {
  border: solid 1px #999;
}

.range-wrapper {
  display: flex;
  justify-content: space-between;
}


.filter-field {
  max-width: 70px;
  padding: 5px 15px;
  border-radius: 25px;
  outline: none;
  border: 1px solid var(--text-color);
  transition: all .3s ease-in-out;
}

.checkbox-wrapper {
  display: flex;
  gap: 10px;
}

.checkbox {
  display: flex;
  flex-direction: column;
}

.card {
  max-width: 250px;
  justify-content: center;
  align-items:center;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


















.footer {
  border-top: 4px solid #ffa939;
}

.footer__container {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px ;
}

.footer__left {
  display: flex;
  gap: 15px;
}

.footer__link {
  transition: color .3s ease-in;
}

.footer__link:hover {
  color: var(--color-hover)
}

.footer__logo-course {
  width: 135px;
  height: auto;
  fill: var(--text-color);
  transition: fill .3s ease-in;
}

.footer__logo-course:hover {
  fill: var(--color-hover);
}

.topbutton {
  width: 30px;
  height: 20px;
  border:none;
  position:fixed;
  bottom:100px;
  right: 5px;
  fill: var(--text-color);
  opacity: .5;
  transition: all .3s ease-in;
}

.topbutton:hover {
  fill: var(--color-hover);
  opacity: 1;
}