
.car-buttuns-wrapper {
  display: flex;
}

.button {

}

.select-button {

}

.remove-button {

}

.car-wrapper {

}

.car-name {

}

.road {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  border-bottom: 2px dotted #fff;
}

.launch-pad {
  width: 100%;
  display: flex;
}

.control-panel {
  display: flex;
}

.icon {

}

.start-engine-button,
.stop-engine-button {
  width: 45px;
  height: 30px;
  
}

.car {
  width: 70px;
  height: auto;
  margin-left: 5px;
  padding-bottom: 0;
}

.flag {
  width: 20px;
  height: 40px;
  margin-right: 100px;
}