.car-buttuns-wrapper {
  display: flex;
}

.button {

}

.select-button {

}

.remove-button {

}

.car-wrapper {

}

.car-name {

}

.road {

}

.launch-pad {
  display: flex;
}

.control-panel {
  display: flex;
}

.icon {

}

.start-engine-button {

}

.stop-engine-button {

}

.car {

}

.flag {
  width: 40px;
  height: auto;
  background-image: ('../../../img/flag.png');
}